#profile .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#profile h2 {
    margin-bottom: 0 !important;
}

#profile .header .user-picture {
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile .header .username {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 30px;
}

#profile .options-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#profile .tracks .tracks-list .tracks-table span {
    cursor: pointer;
}

#profile .options-header .options span {
    margin-left: 10px;
    color: #ccc;
    font-weight: bold;
}

#profile .options-header .options span:hover {
    color: #fff;
    cursor: pointer;
}

#profile .tracks {
    margin-bottom: 30px;
}

#profile .artists-and-recently {
    display: flex;
}

#profile .artists-and-recently .artists {
    display: flex;
    flex-direction: column;
}

#profile .artists-and-recently .artists .artists-list .artist {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #282828;
}

#profile .artists-and-recently .artists .artists-list .artist:last-child {
    border: 0;
}

#profile .artists-and-recently .artists .artists-list .artist .artist-cover {
    height: 3rem;
    width: 3em;
    border-radius: 50%;
    margin-right: 10px;
}

#profile .artists-and-recently .artists .artists-list .artist span {
    font-weight: bold;
    color: #ccc;
}

#profile .artists-and-recently .artists .artists-list .artist span:hover {
    color: #fff;
}

#profile .artists-and-recently .recently-played {
    margin-left: 30px;
    width: 30%;
}

#profile .artists-and-recently .recently-played .recently-list .track {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#profile .artists-and-recently .recently-played .recently-list .track span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50%;
}

#profile .artists-and-recently .recently-played .recently-list .track .track-cover {
    width: 4rem;
    height: 4rem;
    margin-right: 10px;
}

@media (max-width: 810px) {
    #profile .tracks .tracks-list {
        overflow-x: auto;
    }

    #profile .options-header {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    #profile .options-header .options {
        margin-top: 20px;
    }

    #profile .options-header .options span {
        margin-left: 0 !important;
    }

    #profile .options-header .options span + span {
        margin-left: 10px !important;
    }

    #profile .artists-and-recently {
        flex-direction: column;
    }

    #profile .artists-and-recently .artists {
        margin-bottom: 30px;
    }

    #profile .artists-and-recently .recently-played {
        margin-left: 0px;
        width: 100%;
    }

    #profile .artists-and-recently .artists .artists-list .artist .artist-cover {
        height: 4rem !important;
        width: 4rem !important;
    }

    #profile .artists-and-recently .recently-played .recently-list .track .track-cover {
        width: 4rem !important;
        height: 4rem !important;
    }
}