#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

#app main {
    margin-left: 230px;
    width: 100%;
    background-color: #121212;
    color: #fff;
    min-height: 100%;
}

#app main #header {
    padding: 20px 20px;
    margin-top: 0;
}

#app main > div {
    margin-top: 55px;
    margin-bottom: 50px;
}

#app footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


@media (max-width: 810px) {
    #app aside {
        position: absolute;
        transition: .2s;
        margin-top: 54px;
    }

    #app main {
        margin: 0;
        transition: .2s;
    }
}

@media (max-width: 800px) and (max-height: 450px) {
    #app main {
        width: 100%;
        position: absolute !important;
    }
}