#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

#app main {
    margin-left: 230px;
    width: 100%;
    background-color: #121212;
    color: #fff;
    min-height: 100%;
}

#app main #header {
    padding: 20px 20px;
    margin-top: 0;
}

#app main > div {
    padding: 30px;
    margin-top: 55px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}