#album {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#album .album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

#album .album-info .album-title {
    text-align: center;
}

#album .album-info .spotify-link {
    margin: 15px 0;
}

#album .album-info .spotify-link a {
    display: flex;
    align-items: center;
    border: 3px solid #fff;
    padding: 15px;
    border-radius: 50px;
    transition: .2s;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

#album .album-info .spotify-link a svg {
    margin-right: 5px;
}

#album .album-info .spotify-link a:hover {
    background-color: #1DB954;
    border-color: #1DB954;
    color: #000;
}

#album .album-info .album-image {
    height: 15rem;
    width: 15rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#album .album-info span {
    color: #c4c4c4;
    font-size: 12px;
}

#album .album-info .album-artists {
    margin-top: 5px;
    text-align: center;
}

#album .album-info .album-artists span:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

#album .album-info .album-artists span + span::before {
    content: ", ";
}

#album .album-info .album-year {
    display: flex;
    justify-content: center;
}

#album .album-info .album-year span + span::before {
    content: "-";
    margin: 0 5px;
}

#album .album-info .album-options {
    margin-bottom: 15px;
}

#album .album-info .album-options svg {
    margin: 0 5px;
}

#album .album-tracks {
    margin-left: 30px;
    width: 100%;
}

#album .album-tracks .copyright {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    padding-left: 47px;
}

#album .album-tracks .track {
    width: 100%;
    display: flex;
    padding: 15px;
    transition: .2s;
}

#album .album-tracks .track .note-icon, .play-icon {
    margin-right: 15px;
}

#album .album-tracks .track .play-icon {
    display: none;
}

#album .album-tracks .track .track-info {
    flex: 1;
}

#album .album-tracks .track:hover {
    background-color: #282828;
}

#album .album-tracks .track:hover .note-icon {
    display: none;
}

#album .album-tracks .track:hover .play-icon {
    display: block;
}

#album .album-tracks .track .track-info .track-artists {
    color: #888;
    font-size: 13px;
    margin-top: 5px;
}

#album .album-tracks .track .track-info .track-artists span:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

#album .album-tracks .track .track-info .track-artists span + span::before {
    content: ", ";
}

#album .album-tracks .track .track-info .track-artists .track-album::before {
    content: none;
}

#album .album-tracks .track .track-duration {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
}