#header {
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#header .user {
    font-weight: bold;
    font-size: 14px;
}