#header {
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    height: 54px;
    z-index: 1000;
}

#header .user {
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 500px) {
    #header {
        left: 0;
    }
}