#header {
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    height: 54px;
    z-index: 1000;
}

#header .sidebar-toggle {
    display: none;
}

#header .user-menu .user {
    text-align: right;
}

#header .user-menu .user-content {
    display: none;
    background-color: #282828;
    color: #b3b3b3;
    font-size: 14px;
    min-width: 160px;
    text-align: left;
}

#header .user-menu:hover .user-content {
    display: block;
}

#header .user-menu .user-content ul {
    list-style: none;
}

#header .user-menu .user-content ul li {
    padding: 10px 20px;
}

#header .user-menu .user-content ul li:hover {
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

#header .user-menu .user-content ul li + li {
    border-top: 1px solid #ccc;
}

#header .user {
    font-weight: bold;
    font-size: 14px;
}

#header .user:hover {
    cursor: pointer;
}

#header .logout {
    background: transparent;
    color: #FFF;
    border: 4px solid #fff;
    padding: 10px 20px;
}

@media (max-width: 810px) {
    #header {
        left: 0;
        justify-content: space-between;
        background-color: #000;
    }

    #header .sidebar-toggle {
        display: block;
    }
}
