#sidebar {
    background-color: #040404;
    width: 230px;
    padding-bottom: 20px;
    color: #b3b3b3;
    font-size: 14px;
    padding: 0 12px;
    position: fixed;
    height: 100%;
}

#sidebar img {
    padding: 22px 25px 15px 25px;
    width: 180px;
}

#sidebar ul {
    list-style: none;
    margin-bottom: 15px;
}

#sidebar .menu-item {
    color: #b3b3b3;
    font-weight: bold;
    font-size: 13px;
    transition: .2s;
}

#sidebar .menu-item .item-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
}

#sidebar .menu-item .active {
    color: #FFF;
    background-color: #282828;
    padding: 5px 12px;
    border-radius: 3px;
}

#sidebar .menu-item:hover {
    color: #fff;
}

#sidebar .menu-item .item-text {      
    margin-left: 15px;
}

#sidebar .user-playlists span {
    letter-spacing: .10em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

#sidebar .user-playlists ul {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    margin: 15px 0;
}

#sidebar .user-playlists li:hover {
    color: #fff;
}

@media (max-width: 800px) {
    #sidebar {
        overflow-x: auto;
    }
}