#album {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#album .album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

#album .album-info .album-title {
    text-align: center;
}

#album .album-info .album-image {
    height: 15rem;
    width: 15rem;
    background-position: 50%;
    margin-bottom: 10px;
}

#album .album-info span {
    color: #c4c4c4;
    font-size: 12px;
}

#album .album-info .album-artists {
    margin-top: 5px;
    text-align: center;
}

#album .album-info .album-artists span:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

#album .album-info .album-artists a + a::before {
    content: ", ";
}

#album .album-info .album-year {
    display: flex;
    justify-content: center;
}

#album .album-info .album-year span + span::before {
    content: "-";
    margin: 0 5px;
}

#album .album-info .album-options {
    margin-bottom: 15px;
}

#album .album-info .album-options svg {
    margin: 0 5px;
    cursor: pointer;
}

@media (max-width: 810px) {
    #album {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #album .album-info {
        width: 100% !important;
    }

    #album .album-tracks {
        margin-top: 20px;
        margin-left: 0 !important;
    }

    .copyright {
        margin-left: 0;
        margin-top: 10px;
    }

    .copyright span + span {
        margin-top: 5px;
    }
}