* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, input {
    font-family: circular-spotify-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    font-weight: bold;
    padding: 20px;
    border-radius: 500px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}

input {
    border: 0;
    padding: 10px;
    font-size: 14px;
}

#root {
    height: 100%;
}

.container {
    padding: 30px;
}

/* Tracks */

.tracks {
    width: 100%;
}

.tracks .track {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tracks .track-image {
    height: 3rem;
    width: 3rem;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
}

.tracks .track {
    width: 100%;
    display: flex;
    padding: 15px;
    transition: .2s;
}

.track-active {
    color: #1ED760;
}

.track-active:hover {
    color: #1ED760;
}

.tracks .track .note-icon, .play-icon {
    margin-right: 15px;
}

.tracks .track .play-icon {
    display: none;
}

.tracks .track .track-info {
    flex: 1;
}

.tracks .track:hover {
    background-color: #282828;
}

.tracks .track:hover .note-icon {
    display: none;
}

.tracks .track:hover .play-icon {
    display: block;
}

.tracks .track .track-info .track-artists {
    color: #888;
    font-size: 13px;
    margin-top: 5px;
}

.tracks .track .track-info .track-artists span:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

.tracks .track .track-info .track-artists a + a::before {
    content: ", ";
}

.tracks .track .track-duration {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    margin-left: 47px;
    margin-top: 20px;
    font-size: 12px;
    color: #c4c4c4;
}

/* Cover */

.cover {
    width: 12rem;
    height: 12rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Grid template  */

.grid-template {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

/* Table */
.tracks-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    color: #ccc;
}

.tracks-table thead tr th {
    padding: 15px 0;
    color: #fff;
}

.tracks-table tbody tr td {
    padding: 20px 0;
}

.tracks-table tbody tr td:hover {
    color: #fff;
}

.tracks-table tbody .track-active td:hover {
    color: inherit;
}

.tracks-table .track-info {
    border-bottom: 1px solid #282828;
}

.tracks-table .track-info:last-child {
    border: 0;
}

.load-more button {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #FFF;
    color: #FFF;
    text-transform: capitalize;
}

table tbody tr td {
    padding: 10px 30px 10px 0 !important;
    white-space: nowrap;
}

@media (max-width: 490px) {
    .cover {
        height: 9rem !important;
        width: 9rem !important;
    }
}

@media (max-width: 550px) {
    .grid-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px;
    }

    .cover {
        height: 13rem;
        width: 13rem;
    }
}

@media (max-width: 810px) {
    .cover {
        height: 10rem;
        width: 10rem;
    }
}

@media (max-width: 900px) {
    .grid-template {
        grid-template-columns: repeat(3, 1fr);
    }

    .tracks .track-image {
        height: 3rem !important;
        width: 3rem !important;
    }
}
