* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: circular-spotify-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    font-weight: bold;
    padding: 20px;
    border-radius: 500px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}